<div class="login-container">
  <div class="login-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" [formControl]="form.controls.email"
          placeholder="Enter your email">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" [formControl]="form.controls.password"
          placeholder="Enter your password">
      </div>
      @if (errorMessage) {
        <div class="error-message">
          {{ errorMessage }}
        </div>
      }
      <button type="submit" [disabled]="form.invalid">Login</button>
    </form>
  </div>
</div>