<div class="filters">
    <app-current-user/>
    <div>
        <input type="checkbox" (change)="toggleCompletedFilter($event)" [checked]="completedFilter | async" />
        <label>Show completed</label>
    </div>
</div>

<div class="notes">
    @if(error$ | async) {
        <div class="error">
            {{error$ | async }}
        </div>
    }
    <app-edit-note #newNote (save)="addNote($event)" />
    @for(note of notes | async; track note.id) {
        @if(note.id === activeNoteId) {
            <app-edit-note 
                [title]="note.title" 
                [content]="note.content"
                (save)="updateNote(note, $event)"
                (cancel)="toggleNoteEdit(null)" />
        } @else {
            <app-note 
                [note]="note" 
                (edit)="toggleNoteEdit($event)" 
                (toggle)="toggleNoteStatus($event)" 
                (delete)="deleteNote($event)"
            ></app-note>
        }
    }
</div>

