<app-base-note>
    <note-header>
        <div class="header">
            <input type="text" [(ngModel)]="title" required maxlength="15" /> 
            <button class="save-button" (click)="saveNote()">Save</button>
            <button class="cancel-button" (click)="cancelEdit()">Cancel</button>
        </div>
    </note-header>
    <note-content>
        <textarea 
        class="content"
         [(ngModel)]="content"
         maxlength="600"
        ></textarea>
    </note-content>
    <note-footer>
        <small>Char count: {{content.length}}</small>
    </note-footer>
</app-base-note>
